
@{
    ViewData["Title"] = "AddToSession";
}

<h1>AddToSession</h1>

<p>currently inside the Session Msg: @ViewBag.Msg</p>

<form method="post">
    <input type="text" name="textToAdd" value="" />
    <button>Save Msg</button>
</form>