
@{
    ViewData["Title"] = "About";
}

<h1>About the company</h1>

<h4>The company was founded back in 1854 in Sheffield, Great Britain. The history start with manufacturing of matches in a small factory, that later on became Britain's biggest supplier of aircrafts. </h4>
