
@{
    ViewData["Title"] = "AboutMe";

}

<h2>About me</h2>

<h4>I grow up in the northwest of Skåne, but moved to Kronobergs county in the middle of the 80's.</h4>
<h4>I have a funny little dog.</h4>
<h4>Sometimes I go for skiing.</h4>
<h4>Every summer I do something fun out in a lake close to my home.</h4>
<h4>Or I go to the archipelago in Gothenburg at the Swedish West coast.</h4>


<h5>You can always get in touch with me, contact details below:</h5>

<dl>
<dt>Name:</dt>
<dd>Kalle Kallesson</dd>
<dt>Phone:</dt>
<dd>+46 123465798</dd>
<dt>Email:</dt>
<dd>kalle.kallesson@hotmail.com</dd>
</dl>
