
@{ ViewData["Title"] = "ContactUs"; }

<h1>ContactUs</h1>

@if (ViewBag.Msg != null)
{
    <h4 style="color: red">Error: @ViewBag.Msg</h4>
}

<form asp-action="ContactUs" asp-controller="Home" method="post">

    <input type="text" value="" name="name" placeholder="Your name here" />
    <input type="email" value="" name="email" placeholder="Your email here" />
    <textarea name="message"></textarea>

    <button type="submit">Send</button>
</form>