
@{ ViewData["Title"] = "Projects"; }

<h1>Experiment</h1>

<div id="board">

    <h4>Below are links to finished assignments</h4>
    <br>
    <a href="https://github.com/larsbreven/First-trial">The very first trial in CSharp</a>
    <br>
    <a href="https://github.com/larsbreven/Calculator">A great opportunity to use the advanced calculator</a>
    <br>
    <a href="https://github.com/larsbreven/WebAppFirstTimeMVC">The ongoing project</a>

</div>